<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d [%t] %-5level %logger{36} %L: %msg%n"/>
        </Console>

        <Console name="Con_JSON" target="SYSTEM_OUT">
            <JSONLayout/>
        </Console>

        <RollingFile name="RollingFile" fileName="logs/app.log"
                     filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log">
            <JSONLayout/>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
         </RollingFile>

        <!--
        <Flume name="eventLogger" compress="false">
            <Agent host="127.0.0.1" port="8800"/>
        </Flume>-->
    </Appenders>
    <Loggers>
        <Root level="TRACE">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="Con_JSON" />
            <AppenderRef ref="RollingFile"/>
            <!--<AppenderRef ref="eventLogger" />-->
        </Root>
    </Loggers>
</Configuration>